<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- library css-->
     <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
     <link rel="stylesheet" href="../../Asset/Css/View/Security/Module.css">
     
     <!-- library js-->
     <script src="../../Asset/Library/node_modules/jquery/dist/jquery.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     
     <!-- jQuery -->
     <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
     <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
 
     <!-- DataTables -->
     <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
     <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">
 
     <!-- Funciones js  -->
     <script src='../../Js/View/Security/Module.js'></script>

    <title>Persons | Spa</title>
</head>

<body>
    <div class="container">
        <form name="formData" id="formData">
            <div id="headData" class="headData">
                <h2>Modulos</h2>
            </div>

            <div id="bodyData" class="bodyData">
                <input type="hidden" name="id" id="id" value="">
                <div class="form-group">
                    <div class="campos">
                        <label for="" class="form-label mt-2 ">Código</label><br>
                        <input type="url" class="form-control codigo" name="code" id="code" aria-describedby="" placeholder="Digite el codigo" onkeyup="javascript:this.value=this.value.toUpperCase();">
                    </div>

                    <div class="campos">
                        <label for="" class="form-label mt-2">Ruta</label><br>
                        <input type="text" class="form-control" name="route" id="route" aria-describedby="" placeholder="Digite la ruta del modulo">
                    </div>

                    <div class="campos">
                        <label for="" class="form-label mt-2">Etiqueta</label><br>
                        <input type="text" class="form-control" name="label" id="label" aria-describedby="" placeholder="Digite el nombre del modulo">
                    </div>

                    <div class="campos">
                        <label for="" class="form-label mt-2">Estado</label><br>
                        <select class="form-select" id="state" name="state">
                            <!-- data result database -->
                            <option selected="" selected disabled hidden>--- Seleccione ---</option>
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>
                </div>
            </div>
    </div>

    <div id="buttonData" class="buttonData">
        <button type="button" id="btnAdd" name="btnAdd" class="btn btn-primary" onclick="Add()">Registrar</button>
        <button type="button" id="btnUpdate" name="btnUpdate" class="btn btn-success" onclick="Update()">Modificar</button>
    </div>

    <div id="resultData" class="table table-striped table-bordered" style="width:100%">
        <table  id="tableData" class="table">
            <thead>
                <tr class="table-primary">
                    <th>Código</th>
                    <th>Ruta</th>
                    <th>Etiqueta</th>
                    <th>Estado</th>
                    <th colspan="2">Opciones</th>
                </tr>
            </thead>
            <tbody id="dataResult">

            </tbody>
        </table>
    </div>

    

    <div id="footerData" class="">

    </div>
    </form>
    </div>
</body>

</html>

<script>
    loadTable();
</script>