<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="stylesheet" href="/Asset/Css/View/Security/Persons.css">
    
    <!-- Agregar jquery -->
    <script src="/Asset/Library/node_modules/jquery/dist/jquery.js"></script>

    <script src="../../Js/View/Security/Person.js"></script>
    <title>Persons | Spa</title>
</head>

<body>
    <div class="container">
        <form name="formData" id="formData">
            <div id="headData" class="headData">
                <h2>Registro Personas</h2>
            </div>

            <div id="bodyData" class="bodyData">
                <input type="hidden" name="id" id="id" value="">
                <div class="form-group">
                    <div class="campos">
                        <label for="" class="form-label mt-2">Tipo documento</label><br>
                        <select class="form-select" id="documentType" name="documentType">
                            <!-- data result database -->
                            <option selected="" selected disabled hidden>--- Seleccione ---</option>
                            <option value="CC">CC</option>
                            <option value="TI">TI</option>
                            <option value="PA">PE</option>
                            <option value="CE">CE</option>
                        </select>
                    </div>
                    <div class="campos">
                        <label for="" class="form-label mt-2">Número de documento</label><br>
                        <input type="number" class="form-control" name="document" id="document" aria-describedby="" placeholder="Número documento">
                    </div>

                    <div class="campos">
                        <label for="" class="form-label mt-2">Primer nombre</label><br>
                        <input type="text" class="form-control" name="firstName" id="firstName" aria-describedby="" placeholder="Primer nombre" onkeyup="javascript:this.value=this.value.toUpperCase();">
                    </div>

                    <div class="campos">
                        <label for="" class="form-label mt-2">Segundo nombre</label><br>
                        <input type="text" class="form-control" name="secondName" id="secondName" aria-describedby="" placeholder="Segundo nombre" onkeyup="javascript:this.value=this.value.toUpperCase();">
                    </div>

                    <div class="campos">
                        <label for="" class="form-label mt-2">Primer apellido</label><br>
                        <input type="text" class="form-control" name="firstLastName" id="firstLastName" aria-describedby="" placeholder="Primer apellido" onkeyup="javascript:this.value=this.value.toUpperCase();">
                    </div>

                    <div class="campos">
                        <label for="" class="form-label mt-2">Segundo apellido</label><br>
                        <input type="text" class="form-control" name="secondLastName" id="secondLastName" aria-describedby="" placeholder="Segundo apellido" onkeyup="javascript:this.value=this.value.toUpperCase();"><br>
                    </div>

                    <div class="campos">
                        <label for="" class="form-label mt-2">Edad</label><br>
                        <input type="number" class="form-control" name="age" id="age" aria-describedby="" placeholder="Edad">
                    </div>

                    <div class="campos">
                        <label for="" class="form-label mt-2">Género</label><br>
                        <select class="form-select" id="gender" name="gender">
                            <!-- data result database -->
                            <option selected="" selected disabled hidden>--- Seleccione ---</option>
                            <option value="Hombre">Hombre</option>
                            <option value="Mujer">Mujer</option>
                        </select>
                    </div>

                    <div class="campos">
                        <label for="" class="form-label mt-2">Correo Electrónico</label><br>
                        <input type="text" class="form-control" name="mail" id="mail" aria-describedby="" placeholder="Correo electronico">
                    </div>

                    <div class="campos">
                        <label for="" class="form-label mt-2">Numero de teléfono</label><br>
                        <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" aria-describedby="" placeholder="Numero de telefono">
                    </div>

                    <div class="campos">
                        <label for="" class="form-label mt-2">Dirección</label><br>
                        <input type="text" class="form-control" name="address" id="address" aria-describedby=""
                        placeholder="Dirección">
                    </div>

                    <div class="campos">
                        <label for="" class="form-label mt-2">Estado</label><br>
                        <select class="form-select" id="status" name="status">
                            <!-- data result database -->
                            <option selected="" selected disabled hidden>--- Seleccione ---</option>
                            <option value="0">Inactivo</option>
                            <option value="1">Activo</option>
                        </select>
                    </div>
                </div>
            </div>
    </div>

    <div id="buttonData" class="buttonData">
        <button type="button" id="btnAdd" name="btnAdd" class="btn btn-primary" onclick="Add()">Agregar</button>
        <button type="button" id="btnUpdate" name="btnUpdate" class="btn btn-success" onclick="Update()">Modificar</button>
        <!-- <button type="button" id="btnConsult" name="btnConsult" class="btn btn-warning" onclick="Consult()">Consultar</button> -->
    </div>

    <div id="resultData" class="resultData">
        <table class="table table-hover">
            <thead>
                <tr class="table-primary">
                    <th>Tipo Documento</th>
                    <th>Documento</th>
                    <th>Primer Nombre</th>
                    <th>Segundo Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Edad</th>
                    <th>Género</th>
                    <th>Correo Electrónico</th>
                    <th>Numero de teléfono</th>
                    <th>Dirección</th>
                    <th>Estado</th>
                    <th colspan="2">Opciones</th>
                </tr>
            </thead>
            <tbody id="dataResult">
                
            </tbody>
        </table>
    </div>

    <div id="footerData" class="">

    </div>
    </form>
    </div>
</body>

<script>
    loadTable();
</script>

</html>