<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="stylesheet" href="/Asset/Css/View/Security/ViewsRoles.css">
    <script src="/Js/View/Security/ViewRoles.js"></script>
    <title>Persons | Spa</title>
</head>

<body>
    <div class="container">
        <form name="formData" id="formData">
            <div id="headData" class="headData">
                <h2>Vistas Roles</h2>
            </div>

            <div id="bodyData" class="bodyData">
                <input type="hidden" name="id" id="id" value="">
                <div class="form-group">

                    <div class="campos">
                        <label for="" class="form-label mt-2">Rol Id</label><br>
                        <select class="form-select" id="status" name="status">
                            <!-- data result database -->
                            <option selected="" selected disabled hidden>--- Seleccione ---</option>
                            <option value="1">Gerente</option>
                            <option value="2">Auxiliar</option>
                        </select>
                    </div>

                    <div class="campos">
                        <label for="" class="form-label mt-2">Vista Id</label><br>
                        <select class="form-select" id="status" name="status">
                            <!-- data result database -->
                            <option selected="" selected disabled hidden>--- Seleccione ---</option>
                            <option value="1">Seguridad</option>
                            <option value="2">Servicios</option>
                        </select>
                    </div>

                    <div class="campos">
                        <label for="" class="form-label mt-2">Estado</label><br>
                        <select class="form-select" id="status" name="status">
                            <!-- data result database -->
                            <option selected="" selected disabled hidden>--- Seleccione ---</option>
                            <option value="0">Inactivo</option>
                            <option value="1">Activo</option>
                        </select>
                    </div>
                </div>
            </div>
    </div>

    <div id="buttonData" class="buttonData">
        <button type="button" id="btnAdd" name="btnAdd" class="btn btn-primary" onclick="Add()">Agregar</button>
        <button type="button" id="btnUpdate" name="btnUpdate" class="btn btn-success" onclick="Update()">Modificar</button>
        <button type="button" id="btnConsult" name="btnConsult" class="btn btn-warning" onclick="Consult()">Consultar</button>
    </div>

    <div id="resultData" class="resultData">
        <table class="table table-hover">
            <thead>
                <tr class="table-primary">
                    <th>Id</th>
                    <th>Rol Id</th>
                    <th>Vista Id</th>
                    <th>Estado</th>
                    <th colspan="2">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- data result database -->
                <tr class="table-light">
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>Activo</td>
                    <td><button class="btnEdit" type="button" onclick="findById();"><i class="fi fi-rr-pencil"></i></button></td>
                    <td><button class="btnDelete" type="button" onclick="deleteById();"><i class="fi fi-rr-trash"></i></button></td>
                </tr>
                
            </tbody>
        </table>
    </div>

    <div id="footerData" class="">

    </div>
    </form>
    </div>
</body>

</html>