<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="stylesheet" href="../../Asset/Css/View/Security/View.css">
    <script src="../../Js/View/Security/View.js"></script>
    <!-- Agregar jquery -->
    <script src="../../Asset/Library/node_modules/jquery/dist/jquery.js"></script>
    <script src="../../Js/LoadData.js"></script>
    <title>Views | Spa</title>
</head>

<body>
    <div class="container">
        <form name="formData" id="formData">
            <div id="headData" class="headData">
                <h2>Vistas</h2>
            </div>

            <div id="bodyData" class="bodyData">
                <input type="hidden" name="id" id="id" value="">
                <div class="form-group">

                    <div class="campos">
                        <label for="" class="form-label mt-2 ">Codigo</label><br>
                        <input type="text" class="form-control codigo" name="code" id="code" aria-describedby="" placeholder="Digite el codigo" onkeyup="javascript:this.value=this.value.toUpperCase();">
                    </div>

                    <div class="campos">
                        <label for="" class="form-label mt-2 ">Referencia icono</label><br>
                        <input type="text" class="form-control codigo" name="icon" id="icon" aria-describedby="" placeholder="Digite la referencia del icono">
                    </div>

                    <div class="campos">
                        <label for="" class="form-label mt-2 ">Ruta</label><br>
                        <input type="text" class="form-control codigo" name="route" id="route" aria-describedby="" placeholder="Inserte la ruta de la vista">
                    </div>

                    <div class="campos">
                        <label for="" class="form-label mt-2">Etiqueta</label><br>
                        <input type="text" class="form-control" name="label" id="label" aria-describedby="" placeholder="Describa como nombrara de la vista" >
                    </div>

                    <div class="campos">
                        <label for="" class="form-label mt-2">Modulo asociado</label><br>
                        <select class="form-select" id="moduleId" name="moduleId">
                            <!-- data result database -->
                        </select>
                    </div>

                    <div class="campos">
                        <label for="" class="form-label mt-2">Estado</label><br>
                        <select class="form-select" id="state" name="state">
                            <!-- data result database -->
                            <option selected="" selected disabled hidden>--- Seleccione ---</option>
                            <option value="0">Inactivo</option>
                            <option value="1">Activo</option>
                        </select>
                    </div>
                </div>
            </div>
    </div>

    <div id="buttonData" class="buttonData">
        <button type="button" id="btnAdd" name="btnAdd" class="btn btn-primary" onclick="Add()">Agregar</button>
        <button type="button" id="btnUpdate" name="btnUpdate" class="btn btn-success" onclick="Update()">Modificar</button>
        <!-- <button type="button" id="btnConsult" name="btnConsult" class="btn btn-warning" onclick="Consult()">Consultar</button> -->
    </div>

    <div id="resultData" class="resultData">
        <table class="table table-hover">
            <thead>
                <tr class="table-primary">
                    <th>Code</th>
                    <th>Ruta</th>
                    <th>Etiqueta</th>
                    <th>Modulo asociado</th>
                    <th>Estado</th>
                    <th colspan="2">Opciones</th>
                </tr>
            </thead>
            <tbody id="dataResult">

            </tbody>
        </table>
    </div>

    <div id="footerData" class="">

    </div>
    </form>
    </div>
</body>

</html>
<script>
    loadTable();
    loadModulo();
</script>