<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="../Asset/Css/Login.css">
    <link rel="shortcut icon" href="../Asset/Img/hoja 1.png 1.png" type="image/x-icon">
    <script src="/Js/Login.js"></script>
    <title>Login</title>
</head>
<body>
    <div class="container">
        <button type="button" id="btnvolver" name="btnvolver" onclick="Volver()" class="btnvolver">
            <div class="icon"><i class="fi fi-rr-home"></i></div>
        </button>
        <img src="../Asset/Img/hoja 1.png" alt="" class="logo">
        <img src="..  /Asset/Img/image1.png" alt="" class="img">
        <div class="formulario">
            <h2>Iniciar Sesión</h2><br>
            <div class="input-box">
                <span class="icon"><i class="fi fi-rr-user"></i></span>
                <input type="text" name="txtuser" id="txtuser" required>
                <label>Usuario</label>
            </div>
            <div class="input-box" style="margin-top: 50px;">
                <span class="icon"><i class="fi fi-rr-key"></i></span>
                <input type="password" name="txtpassword" id="txtpassword" required>
                <label>Contraseña</label>
            </div>
            <button type="button" id="btnLogin" name="btnLogin" onclick="loadPermission();">Iniciar Sesión</button>
            <h3>Olvidaste la contraseña <a href="">Click Aqui!</a></h3>
        </div>
    </div>
</body>
</html>